# Maven
target/
logs/
release.properties
*.class
*.jar
*.war
*.ear
*.iml

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata

# IDEA
.settings/
.idea/

# gitignore
.mymetadata
demo-gen/src/main/resources/conf.xml

# classes,lib,node_modules
classes/
lib/
node_modules/
overlays/
.dubbo/

#python
__pycache__/
log/